{% extends "auctions/layout.html" %}

{% block title %}Listings{% endblock %}

{% block body %}
<h2>Active Listings</h2>

<ul>
    {% for listing in listings_with_bids %}

    {% if listing.listing.is_active %}
        <li>
            <div class="listings-container">
                <a href="{%url 'auctions:listing' listing.listing.id %}">
                    <img class="listings-img" src="{{listing.listing.img}}" alt="{{listing.listing.item}}" loading="lazy" />
                </a>
                <div class="column-flex-container">
                    <h3 class="item-title">{{listing.listing}}</h3>
                    <p class="current-price">Current Price: {{listing.bid}}</p>
                    <details>{{listing.listing.details}}</details>
                </div>
            </div>
        </li>
    {% endif %}
    
    {% endfor %}
</ul>

{% endblock %}
