{% extends "auctions/layout.html" %}

{% block title %}Listings{% endblock %}

{% block body %}
<h2>Active Listings</h2>

<ul>
    {% for listing in listings %}

    {% if listing.is_active %}
        <li>
            <a href="{%url 'auctions:listing' listing.id %}">
                <div class="listings-container">
                    <img class="listings-img" src="{{listing.img}}" />
                    {{listing}}
                </div>
            </a>
        </li>
    {% endif %}
    
    {% endfor %}
</ul>

{% endblock %}
