{% extends "auctions/layout.html" %}

{% block title %}Listings{% endblock %}

{% block body %}
<h2>Active Listings</h2>

<ul>
    {% for listing in listings %}

    {% if listing.is_active %}
        <li>
            <div class="listings-container">
                <a href="{%url 'auctions:listing' listing.id %}">
                    <img class="listings-img" src="{{listing.img}}" alt="{{listing.item}}" loading="lazy" />
                    {{listing}} Buyout price: {{listing.buyout_price}}
                </a>
            </div>
        </li>
    {% endif %}
    
    {% endfor %}
</ul>

{% endblock %}
