{% extends "auctions/layout.html" %}

{%block title%}{{listing.item}}{%endblock%}

{% block body %}
    <div class="listing">
        <h2 class="title">{{listing.item}}</h2>
        <img class="listing-img" src="{{listing.img}}" alt="{{listing.item}}" loading="lazy" />
        <div class="info">
            Description: {{listing.details}}
        </div>
    </div>

{% if listing.is_active %}
    <div class="bid-interface">
        {% if is_on_watchlist %}
            <button id="watchlist-btn" class="watchlisted btn" type="submit"
                onclick="location.href='{% url 'auctions:watchlist_toggle' listing.id %}'">
                Unwatch item
            </button>
        {% else %}
            <button id="watchlist-btn" class="btn" type="submit"
                onclick="location.href='{% url 'auctions:watchlist_toggle' listing.id %}'">
                Watch item
            </button>
        {% endif %}
        <p class="error">{{error}}</p>
        <h3 class="heading">Current bid: {{current_bid}}</h3>
        <form action="{% url 'auctions:listing' listing.id %}" method="POST">
            {% csrf_token %}
            {{ form }}
        </form>

        <h3>Buyout: <span class="buyout">{{listing.buyout_price}}</span></h3>
    </div>

{% elif bid.bidder.id == user.get_id %}
    <h3 class="heading">You have bought {{listing}} for {{bid}}</h3>

{% else %}
    <h3 class="heading">This auction is closed</h3>

{% endif %}

{% endblock %}