{% extends 'auctions/layout.html' %}

{% block title %}{{request.user}}' Watchlist{% endblock %}

{% block body %}
<h2 class="title">{{request.user}}'s Watchlist</h2>

<ul>
    {% if watchlist %}
        {% for item in watchlist %}
            <li class="list-item">
                <div class="listings-container">
                    <a href="{% url 'auctions:listing' item.listing.id %}">
                        <img class="listings-img" src="{{item.listing.img}}" alt="{{item.listing.item}}" loading="lazy" />
                        {{item}}
                    </a>
                    <button class="remove-btn btn" data-listing_id="{{item.listing.id}}">Remove</button>
                </div>
            </li>
        {% endfor %}
    {% else %}
        <div class="error">There are no items in your watchlist</div>
    {% endif %}
</ul>

{% endblock %}