{% extends 'auctions/layout.html' %}

{% block title %}{{request.user}}' Watchlist{% endblock %}

{% block body %}
<h2 class="title">{{request.user}}'s Watchlist</h2>

<ul>
    {% if watchlist %}
        {% for item in watchlist %}
            <li class="list-item">
                <a href="{% url 'auctions:listing' item.listing.id %}">{{item}}</a>
            </li>
        {% endfor %}
    {% else %}
        <div class="error">There are no items in your watchlist</div>
    {% endif %}
</ul>

{% endblock %}